
.custom-homepage-wrapper {
  cursor: default;
  color: black;
  font-family: 'Red Hat Display', sans-serif;
  background: radial-gradient(rgba(250, 250, 250, 1), rgba(255, 255, 255, 0.9));
  margin-top: 0;
  overflow: hidden;
}

a:link, a:visited, a:hover, a:active {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

.left-circuit {
  position: absolute;
  height: 1100px;
  left: -190px;
  top: -180px;
  z-index: 0;
}

.right-circuit {
  position: absolute;
  height: 1200px;
  top: -200px;
  right: -80px;
}

.title-wrapper {
  width: 100vw;
  min-height: calc(100vh - 0px);
  color: #202020;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subtitle-wrapper {
  margin: 10px 0 10px 30px;
  display: flex;
  flex-direction: column;
}

.title-wrapper>h2 {
  margin-bottom: 9px !important;
}

.title-wrapper>p {
  font-weight: 400 !important;
  font-size: 14px;
}

.subtitle-wrapper>p {
  margin-left: 6px;
  margin-bottom: 60px;
}

.zgen {
  font-size: 150px;
  margin: 0;
  line-height: 90%;
  font-weight: 700;
  z-index: 1;
}

.kibernetika {
  font-size: 52px;
  margin: 0 0 40px 0;
  line-height: 80%;
  letter-spacing: 0.12em;
  z-index: 1;
}

.decor {
  border: 3px solid black;
  width: 100px;
  margin-left: 5px;
}

.white-decor {
  border-color: white;
}

.work-desktop, .leadership-desktop {
  width: 100%;
  padding: 100px 0 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-title {
  font-size: 60px;
  margin: 0;
}

.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.work-card {
  height: 340px;
  width: 242px;
  margin: 15px 15px 45px 15px;
  position: relative;
  display: flex;
  justify-content: center;
  transition: all .2s ease-in-out;
}

.work-card:hover {
  transform: scale(1.03) perspective(1px);
}

.ai {
  width: 120px;
  position: absolute;
}

.ether {
  width: 100px;
  position: absolute;
}

.webdev {
  width: 120px;
  position: absolute;
}

.esport {
  width: 130px;
  position: absolute;
  top: -15px;
}

.education {
  width: 120px;
  position: absolute;
  top: -15px;
}

.card-bg {
  height: 90%;
  width: 242px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 50px;
}

.card-bg-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 24px;
  margin: 60px 0 10px 0;
  font-weight: 600;
  padding: 0 20px 0 20px;
  text-align: center;
  line-height: 100%
}

.card-description {
  padding: 0 30px 0px 30px;
}

.card-description>p {
  font-size: 14px;
  line-height: 100%
}

.card-social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.card-social a {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.card-name {
  margin: 10px 0;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

.card-name p {
  fill: black;
  position: relative;
  margin: 0 10px;
}

.leadership-title {
  font-size: 60px;
  margin: 0;
}

.aron, .berci, .bruno, .samu {
  width: 120px;
  position: absolute;
  top: -35px;
  border: 10px solid white;
}

.swiper-container, .s2 {
  display: block;
  overflow: visible !important;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.container-z {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.subtitle-wrapper {
  margin-left: 6px !important;
}

.linkedin {
  display: block;
  background: url("/images/linkedin.svg");
}

.twitter {
  display: block;
  background: url("/images/twitter.svg");
}
.telegram {
  display: block;
  background: url("/images/telegram.svg");
}

.social-icon {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}


@media screen and (min-width: 452px) {
  .container-z {
    width: 1290px !important;
    max-width: 1290px !important;
  }

  .swiper-pagination, .sp2 {
    display: none;
  }

  .subtitle-wrapper {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 452px) {
  .subtitle-wrapper>p {
    margin: 30px;
  }

  .last-cont .subtitle-wrapper>p {
    margin-bottom: 51px;
  }

  .title-wrapper>p {
    margin: 10px;
    text-align: center;
    font-size: 19px;
    width: 267px;
  }

  .work-card {
    margin: 0;
  }

  .last-cont {
    margin-bottom: 60px;
  }

  .subtitle-wrapper>* {
    text-align: center;
  }

  .card-wrapper {
    flex-direction: column;
  }

  .zgen {
    font-size: 96px;
  }

  .kibernetika {
    font-size: 33px;
  }

  .subtitle-wrapper {
    margin-left: 20px;
  }

  .work-title, .leadership-title, .guild-title {
    font-size: 48px;
  }

  .work-desktop, .leadership-desktop {
    display: none;
  }

  .swiper-pagination-bullet-active, .sp2-bullet-active {
    background-color: #000 !important;
  }

  .swiper-pagination {
    bottom: -60px !important;
  }

  .swiper-container, .s2 {
    display: block;
    width: 100%;
    margin-bottom: 198px;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80% !important;
  }

  .left-circuit {
    display: none;
  }

  .right-circuit {
    position: absolute;
    height: 1000px;
    top: -200px;
    right: 10px;
    z-index: 0;
    opacity: 0.5;
  }
}
